asgiref
backcall
beautifulsoup4
certifi
cffi
chardet
colorama
confusable-homoglyphs
cryptography
cssutils
decorator
defusedxml
Django
django-allauth
django-colorfield
django-crispy-forms
django-debug-toolbar
django-enumchoicefield
django-extensions
django-jsonfield
django-url-or-relative-url-field
djangorestframework
flake8
future
gunicorn
idna
importlib-metadata
ipython
ipython-genutils
jedi
matplotlib-inline
mccabe
oauthlib
parso
pexpect
pickleshare
Pillow
prompt-toolkit
psycopg2-binary
ptyprocess
pycodestyle
pycparser
pyflakes
Pygments
PyJWT
pynliner
python3-openid
pytz
rarfile
requests
requests-oauthlib
six
soupsieve
sqlparse
traitlets
typing-extensions
urllib3
wcwidth
zipp
librosa
tensorflow
musicnn
panns-inference
flask
docker
